{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": [

  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },

  "rules": {
    "semi": [1,"always"]
  }
}
